.movie-title {
  text-align: center;
  text-transform: uppercase;
  color: #194484;
  margin: 2rem 0;
}

.description {
  color: #77869b;
}

.genre {
  color: #194484;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.movie-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.back {
  margin-bottom: 3em;
}
